.messages {
    display: flex;
    flex-direction: column;
}

.message {
    background-color: aliceblue;
    border: 2px dashed grey;
    padding: 0.6rem;
    margin: 0.5rem 0;
    line-height: 1.4rem;
    letter-spacing: .04rem;
}

.footer{
    display: flex;
}

.message_finish {
    margin-left: auto;
}

.message_delete {
    margin-left: auto;
    background-color: rgb(247, 55, 55);
    color: white;
}

hr {
    border-top: 2px dashed grey;
    margin: .6rem;
} 

header {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
} 

.footerNote{
    font-size: smaller;
    font-style: italic;
    margin-top: auto;
}
